<div class="g-link">
	&copy;2013
	<span style="position:absolute;right:0px;top:0px;">
		this project is hosted on Github 
		<a target="_blank" href="https://github.com/zhiyu/pomelo-ext">
		  <img src="/image/github.png" style="vertical-align:-7px;"/>
		</a>
	</span>	
</div>

<script type="text/javascript">
$(function(){
	$('.dropdown-toggle').dropdown();
});
</script>