
  <div class="g-content">


      <section>
        <div class="page-header">
          <h4>Account Register</h4>
        </div>
        
        <p class='g-header'>example</p>
        <div class="sec">
         
            <input type="text" name="username" /><br/>
            <input type="text" name="password" /><br/>
            <a href="javascript:pomeloext.account.register()" class="btn">register</a>
          
        </div>

        <p class='g-header'>javascript code</p>
        <pre><code>
  function register() {
    var pomelo = window.pomelo;
    pomelo.request(
      "ext/account.accountHandler.register", 
      {
        username: "username",
        password: "password",
        room:'room_id'
      },
      function(data) {
        alert(data.code);
      }
    );
  }
        </code></pre>    

        <div class="page-header">
          <h4>Account Login</h4>
        </div>

        <p class='g-header'>example</p>
        
        <div class="sec">
         
            <input type="text" name="username" /><br/>
            <input type="text" name="password" /><br/>
            <a href="#" class="btn">register</a>
          
        </div>

        <p class='g-header'>javascript code</p>
        <pre><code>
  function register() {
    var pomelo = window.pomelo;
    pomelo.request(
      "ext/account.accountHandler.register", 
      {
        username: "username",
        password: "password",
        room:'room_id'
      },
      function(data) {
        alert(data.code);
      }
    );
  }
        </code></pre>    
      </section>


</div>

<script type="text/javascript">
$(function(){
pomeloext.connect();
hljs.initHighlightingOnLoad();
});

</script>