
  <div class="g-content">


      <section>
        <div class="page-header">
          <h4>Account Register</h4>
        </div>
        
        <p class='g-header'>example</p>
        <div class="sec">
          <form id="register_form">
            <input type="text" name="username" id="username" /><br/>
            <input type="password" name="password" id="password" /><br/>
            <a href="javascript:register();" class="btn">register</a>
          </form>
        </div>

        <p class='g-header'>javascript code</p>
        <pre><code>
  /**
   * Note:
   *
   * be sure to establish connnection to server before sending request
   */
         
  function register() {          
    pomelo.request(
      "ext/account.accountHandler.register", 
      {
        username: "username",
        password: "password"
      },
      function(data) {
        alert(data.code);
      }
    );
  }                </code></pre>    

        <div class="page-header">
          <h4>Account Login</h4>
        </div>

        <p class='g-header'>example</p>
        
        <div class="sec">
          <form id="login_form">
            <input type="text" name="username" id="username" /><br/>
            <input type="password" name="password" id="password" /><br/>
            <a href="javascript:login();" class="btn">login</a>
          </form>
        </div>

        <p class='g-header'>javascript code</p>
        <pre><code>
  /**
   * Note:
   *
   * be sure to establish connnection to server before sending request
   */
         
  function login() {          
    pomelo.request(
      "ext/account.accountHandler.login", 
      {
        username: "username",
        password: "password"
      },
      function(data) {
        alert(data.code);
      }
    );
  }        
      </code></pre>    
      </section>


</div>

<script type="text/javascript">
$(function(){
    hljs.initHighlightingOnLoad();
});

function register(){
    var username = $("#username", "#register_form").val();
    var password = $("#password", "#register_form").val();
    pomeloext.account.register(username, password);
}

function login(){
    var username = $("#username", "#login_form").val();
    var password = $("#password", "#login_form").val();
    pomeloext.account.login(username, password);
}

</script>